<!-- info-section of the page -->
<section class="info-section sameheight-block">
    <!-- info-col of the page -->

    {% for post in site.posts %}
    <div class="info-col">
        <a href="{{ post.url }}">
            <!-- info-heading of the page -->
            <header class="info-heding sameheight">
                <h2>{{ post.title }}</h2>
                <p>WE HAVE REVIEWED IT FOR YOU</p>
            </header>
            <div class="img-holder">
                <!-- picturefill html structure example -->
                <span data-picture data-alt="image description">
                    <img src="{{ post.image }}" class="img-fluid"/>
                    <!-- <img src="http://placehold.it/1066x800" class="img-fluid"/> -->
                    <!-- <span data-src="http://placehold.it/533x400" data-height="400" data-width="533"></span>
                    <span data-src="http://placehold.it/1066x800" data-height="400" data-width="533" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span> -->
                    <!--[if (lt IE 9) & (!IEMobile)]>
                        <span data-src="images/http://placehold.it/533x400"></span>
                    <![endif]-->
                    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                    <!-- <noscript><img src="images/http://placehold.it/533x400" width="533" height="400" alt="image description" ></noscript> -->
                </span>
            </div>
        </a>
    </div>
    {% endfor %}
 </section>