<nav class="navbar navbar-expand-lg navbar-light border-bottom-3 border-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Live With Code</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for link in site.data.navigation %}
        <li class='nav-item'><a class='nav-link' href='{{ link.url | prepend: site.baseurl }}'>{{ link.title | upcase  }}</a></li>
      {% endfor %}
        
        
      </ul>
    

      <form class="d-flex" action="/search.html" method="get">
        <!-- <label for="search_box" >Search</label> -->
        <input type="text" id="search_box"  class="form-control me-2" name="query" placeholder="Search">
        <input type="submit" value="search">
      </form>
      
    </div>
  </div>
</nav>