.IntroSection{

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  

  p {
    text-align: center;
  }

}




//* Glitch

.glitch{
    color:rgb(3, 3, 3);
    font-size:100px;
    position:relative;
    width:400px;
    margin:0 auto;
  }
  @keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:after{
    content:attr(data-text);
    position:absolute;
    left:2px;
    text-shadow:-1px 0 rgb(255, 255, 255);
    top:0;
    color:rgb(8, 8, 8);
    background:rgb(32, 32, 32);
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow:1px 0 blue; 
    top:0;
    color:rgb(252, 252, 252);
    background:rgb(5, 5, 5);
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim-2 3s infinite linear alternate-reverse;
  }